[package]
name = "ibc-mock"
version = "0.1.0"
authors = ["CharlyCst <castes.ch@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tendermint-rpc = "0.16.0"
hyper = "0.13"
tokio = { version = "0.2", features = ["full"] }
futures = "0.3"
serde_json = "1.0"
